body {
  background: #e6e6e6;
  font-family: 'Roboto Mono';
  overflow: hidden;
  position: relative;
  background-image: url("https://raw.githubusercontent.com/Tharana/Tharana.github.io/main/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  font-family: 'Roboto Mono';
}

#desktop:before {
  background-image: url("https://raw.githubusercontent.com/Tharana/Tharana.github.io/main/3.jpg");
  background-repeat: repeat;
  background-size: 100px;
  content: '';
  left: 0;
  opacity: .085;
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

nav {
  background: #222;
  color: white;
}

.logo {
  height: 18px;
  width: 18px;
}

.restrictor {
  top: 4rem;
}

.window {
  min-height: 300px;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon.me {
  background-image: url("https://i.ibb.co/MNNv5x0/linux-81610.png");
}

.icon.home {
  background-image: url("https://i.ibb.co/L8yrrJB/spacefm-103907.png");
}

.icon.writing {
  background-image: url("https://i.ibb.co/b7J57kB/About-me-Icon-icon-icons-com-52852.png");
}

.icon.calendar {
  background-image: url("https://i.ibb.co/q1SVtN3/Menu-Bar-Count-Down-30179.png");
}

.icon.location {
  background-image: url("https://i.ibb.co/WDpLHdN/1496676725-rounded-high-ultra-colour02-maps-84627.png");
}

.icon.terminal {
  background-image: url("https://i.ibb.co/fDPX8Gm/terminal-icon-34340.png");
}
 
